* {
    margin: 0;
    padding: 0;
}
#nav{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 2;
}

.container-fluid {
    padding-left: 10%;
    padding-right: 10%;
}

#btn1:hover {
    background-color: transparent;
    color: black;
    border: none;
}

#btn2:hover {
    background-color: transparent;
    color: blue;
    border: none;
}

#section1 {
    height: 900px;
    background-color: #F8F9FB;
    width: 100%;
}

#div1 {
    padding-left: 10%;
    padding-right: 7%;
    padding-top: 8%;
    background-image: url(https://www.zohowebstatic.com/sites/zweb/images/zoho_general_pages/zh-homev2-banner.webp);
    background-size: 100% 30%;
    background-repeat: no-repeat;
    background-position: bottom 13% left 10%;
    width: 60%;
    height: inherit;
}

#div2 {
    width: 40%;
    height: inherit;
}

#div2>#div02 {
    width: 60%;
    height: 80%;
    margin-left: 20%;
    margin-top: 15%;
    background-color: #ffffff;
}

#div1>h1 {
    font-family: sans-serif;
    font-size: 55px;
}

#div3 {
    height: 200px;
    margin-left: 12.5%;
    width: 75%;
    position: relative;
    top: 100px;
    background-color: white;
}

#div4,
#div5,
#div6 {
    width: 33%;
    height: inherit;
    margin-right: 5px;
}

#div5 {
    padding-top: 4%;
}

#button1 {
    padding: 10px 25px;
    border: none;
    background-color: #056CB8;
    color: white;
    margin-top: 2%;
}

#div4>img {
    margin-left: 15%;
    margin-top: 15%;
}

#div6>img {
    width: 75%;
    height: 100%;
    padding-top: 12%;
}

#section2 {
    width: 100%;
    height: 200px;
    background-color: #F8F9FB;
}

#section3 {
    width: 100%;
    height: 600px;
    background-color: #FED600;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#div7 {
    width: 40%;
    height: 100%;
    margin-left: 10%;
}

#div8 {
    width: 40%;
    height: 100%;
    margin-right: 10%;
}

#section4 {
    width: 100%;
    height: 100%;
    background-color: #F8F9FB;
}

#div9 {
    width: 80%;
    height: 80%;
    margin: 5% 10%;
    text-align: center;
    background-color: #F8F9FB;
}

#section5 {
    width: 100%;
    height: 800px;
    display: flex;
}

#div10,
#div11 {
    width: 30%;
    height: 70%;
    margin-top: 7.5%;
}

#div10 {
    margin-left: 18%;
    margin-right: 2%;
}

#div11 {
    margin-left: 4%;
    padding-top: 3%;

}

#button2 {
    position: relative;
    top: -30px;
    left: 50px;
}

#section6 {
    width: 100%;
    height: 700px;
    background-color: #0060B4;
    display: flex;
}

#div13 {
    background-image: url(https://www.zohowebstatic.com/sites/zweb/images/zoho_general_pages/made-au-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 50%;
    height: inherit;
}

#div12 {
    width: 50%;
    height: inherit;
    color: white;
}

#div12>h2 {
    font-size: 45px;
    padding-left: 20%;
    padding-top: 10%;
}

.user-size-wrap {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10%;
    margin-left: 14%;
    flex-wrap: wrap;
    width: 70%;
}

.user-innerwrap {
    display: flex;
    align-items: center;
    margin: 5px 5px;
    justify-content: space-between;
    width: 50%;


}

.user-count-wrap {
    font-size: 36px;
    width: 50%;

}

.fl {
    font-size: 18px;
    width: 50%;


}

.counter {
    text-align: center;
}

.user-size {
    display: flex;
    width: 90%;
    margin: 2px 5px;
}

#button3 {
    padding: 10px 25px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
    margin-top: 2%;
    font-weight: 600;
    border-radius: 3px;
}

#section7 {
    width: 100%;
    height: 500px;
    background-color: #ffffff;
}

#div14 {
    width: 80%;
    height: 80%;
    margin: 5% 10%;
    text-align: center;
}

#button4 {
    border: 1px solid #247EC0;
    color: #0060B4;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
}

#section8 {
    width: 100%;
    height: 650px;
}

#section9 {
    width: 100%;
    height: 1000px;
    background-color: #F8F9FB;
}

#div15 {
    width: 72%;
    height: 95%;
    margin: 2.5% 14%;
    position: relative;
    top: -25%;
    background-color: #ffffff;
    border-radius: 5px;
}

#div15>h1 {
    padding-top: 7%;
    text-align: center;
}

#div16 {
    padding: 7%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#div17 {
    margin-right: 5%;
}

.p1 {
    font-size: 18px;
}

#button5 {
    width: 220px;
    height: 50px;
    border: none;
    background-color: #056CB8;
    color: white;
    /* margin-left: 40%; */
}

#section10 {
    width: 100%;
    height: 400px;
    background-color: #F8F9FB;
    display: flex;
}

#div18 {
    width: 40%;
    height: inherit;
    margin-left: 15%;
    margin-top: -10%;
}

#div19 {
    width: 30%;
    height: inherit;
    margin-top: -10%;
}

#p5 {
    width: 70px;
    height: 30px;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 5% 20%;
    font-weight: bold;
}

#p6 {
    margin-left: 20%;
    font-size: 18px;
}

#p7 {
    margin-left: 20%;

}

#button6 {
    border: 1px solid #247EC0;
    color: #0060B4;
    background-color: transparent;
    font-size: 14px;
    font-weight: 600;
    margin-left: 20%;
    padding: 10px 20px;
    margin-top: 10px;
}

#section11 {
    width: 100%;
    height: 300px;
    text-align: center;
    background-color: #F3F5F9;
    margin-top: -5%;
}

#button7 {
    border: none;
    padding: 10px 20px;
    background-color: #F60014;
    color: white;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
}

#section12 {
    width: 100%;
    height: 400px;
    background-color: #F3F5F9;
    display: flex;
    justify-content: space-evenly;
}

ul {
    list-style: none;
}

#ul>:first-child {
    font-size: 25px;
    padding-bottom: 5%;
}

ul>li {
    font-size: 18px;
}

#section13 {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #F3F5F9;
}

#section14 {
    width: 100%;
    height: 250px;
    background-color: #F3F5F9;
    text-align: center;
}

#div21,
#div22 {
    width: 70%;
    height: 50%;
    padding-top: 2%;
    margin-left: 15%;
    padding-left: 6%;
    padding-right: 6%;
}

#button8 {
    width: 40px;
    height: 40px;
    background-color: #F3F5F9;
    border-radius: 5px;
    border: none;
}

#button9 {
    width: 40px;
    height: 40px;
    background-color: #F3F5F9;
    border-radius: 5px;
    border: none;
    color: #0060B4;
}

#button10 {
    width: 40px;
    height: 40px;
    background-color: #F3F5F9;
    border-radius: 5px;
    border: none;
    color: orangered;
}

#button11 {
    width: 40px;
    height: 40px;
    background-color: #F3F5F9;
    border-radius: 5px;
    border: none;
    color: #0A66C2;
}

#button12 {
    width: 40px;
    height: 40px;
    background-color: #F3F5F9;
    border-radius: 5px;
    border: none;
    color: #F60014;
}

#div22>span {
    margin-right: 2%;
    margin-bottom: 50%;
    border-right: 1px solid gray;
    padding-right: 2%;
    font-size: 14px;
    font-family: sans-serif;
}

#div23 {
    display: none;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #0B0D1F;
    text-align: center;
    color: white;
}
#staticdiv{
    display: none;
}


@media(max-width:800px) {
    * {
        margin: 0;
        padding: 0;
    }
    #nav{
        width: 100%;
        height: 40px;
    }

    .container-fluid {
        padding: 2%;
        margin: 2%;
    }

    #section1 {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #div1 {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 25%;
        text-align: center;
        background-image: url(https://www.zohowebstatic.com/sites/zweb/images/zoho_general_pages/zh-homev2-banner.webp);
        background-size: 100% 30%;
        background-repeat: no-repeat;
        background-position: bottom center;
        height: 530px;
    }

    #div1>h1 {
        font-size: 28px;
    }

    #div2 {
        width: 100%;
        height: 800px;

    }

    #div2>#div02 {
        width: 80%;
        height: 100%;
        margin-left: 10%;


    }

    #section2 {
        width: 100%;
        height: 600px;
    }

    #div3 {
        width: 80%;
        height: 400px;
        flex-direction: column;
        text-align: center;
        margin-left: 10%;
        margin-top: 10%;



    }

    #div4,
    #div5,
    #div6 {
        width: 100%;
        height: 100%;
    }

    #div4>img {
        margin-top: 5%;
        width: 100px;
        height: 200px;
        margin-left: 0;
    }

    #div6>img {
        width: 50%;
        height: 100%;
        padding-top: 0;
    }

    #section3 {
        width: 100%;
        height: 100%;
        flex-direction: column;
    }

    #div7 {
        flex-direction: column;
        width: 80%;
        height: 100%;
        text-align: center;
        margin-left: 0;
    }

    #div8 {
        width: 70%;
        height: 100%;
        text-align: center;

    }

    #div801 {
        flex-direction: column;
        padding: 0;
    }

    #div9 {
        width: 100%;
        height: 100%;
        margin: 2% 2%;
    }

    #div901>div {

        margin: 4% 5%;
    }

    #button2 {
        display: none;
    }

    #section5 {
        width: 100%;
        height: 100%;
        flex-direction: column-reverse;
    }

    #div10 {
        width: 90%;
        margin-left: 2%;
        margin-right: 0;
        margin-bottom: 15%;
    }

    #div101 {
        flex-direction: column;
        width: 100%;
    }

    #div102 {
        width: inherit !important;
        text-align: center;
        font-size: 18px !important;
    }

    #div11 {
        width: 90%;
        height: 100%;
        text-align: center;

    }

    #p2 {
        font-size: 40px !important;
    }

    #p3 {
        font-weight: 300 !important;
    }

    #section6 {
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    #div12 {
        width: 100%;
        height: 100%;
    }

    #div13 {
        background-image: url(https://www.zohowebstatic.com/sites/zweb/images/zoho_general_pages/made-au-bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        width: 100%;
        height: 100%
    }

    #div12>h2 {
        font-size: 40px;
        text-align: center;
        padding-left: 0;
    }

    .user-size-wrap {

        margin-top: 10%;
        width: 100%;
        margin-left: 0;
        padding-left: 10%;
    }

    .user-innerwrap {
        display: flex;
        align-items: center;
        margin: 5px 5px;
        justify-content: center;
        width: 100%;


    }

    .user-count-wrap {
        font-size: 36px;
        width: 50%;

    }

    .fl {
        font-size: 18px;
        width: 50%;


    }

    .counter {
        text-align: center;
    }

    .user-size {
        display: block;
        width: 100%;
    }

    #button3 {
        margin-top: 7%;
    }

    #div14 {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    #section7 {
        width: 100%;
        height: 100%;
    }

    #section8 {
        width: 100%;
        height: 60%;
    }

    #section9 {
        width: 100%;
        height: inherit;
    }

    #div15 {
        width: 95%;
        height: 1200px;
        margin: 2.5%;
        background-color: #ffffff;
        border-radius: 5px;
        position: relative;
        bottom: 70px;
        text-align: center;
    }

    #div16 {
        flex-direction: column;
    }

    #section10 {
        width: 100%;
        height: 800px;
        background-color: #F8F9FB;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #div18 {
        width: 100%;
        height: 60%;
        margin-left: 0;
        padding-left: 0;
    }

    #div19 {
        width: 100%;
        height: 40%;
        padding-left: 0;
        margin-top: 10%;
    }

    #p5 {
        margin-left: 40%;
    }

    #div19>img {
        width: 100%;
        height: 100%;
        margin-right: 17%;
    }

    #p6 {
        margin-left: 0;
    }

    #p7 {
        padding-right: 17%;
    }

    #button6 {
        margin-left: 5%;
        margin-top: 10%;
    }

    #p8 {
        font-size: 35px !important;
        padding-top: 10%;
    }

    #section11 {
        width: 100%;
        height: 300px;
    }

    #p9 {
        font-size: 25px !important;
    }

    #section12 {
        display: none;
    }

    #section13 {
        width: 100%;
        height: 100%;
        background-color: #F3F5F9;
        display: block;
    }

    #section14 {
        width: 100%;
        height: 100%;
    }

    #div22 {
        display: none;
    }

    #div21 {
        width: 100%;
        height: 20%;
        margin-left: 0;
        padding-left: 1%;
        padding-right: 1%;
    }
    #div23{
        width: 100%;
        height: 100px;
        display:flex;
        margin-bottom: 10px;
        align-items: center;
        justify-content: center;
    }
    #div23>span{
        border-right: 1px solid gray;
        padding-right: 4%;
    }
    #staticdiv{
        width: 100%;
        height: 60px;
        display: flex;
        position: fixed;
        bottom:-2%;
        padding: 0;
        margin: 0;
    }
   #button13{
    width: 10vw;
    height: 50px;
    border: none;
    background-color: black;
    color: white;
   } 
   #button14{
    width: 90vw;
    height: 50px;
    border: none;
    background-color: #F60014;
    color: white;
    font-weight: 600;
   }

}